title {
    display: show;
}
body {
    background-color: #FFF;
    
}
banner {
    margin-left:30px;
    margin-right: 30px;
    background-image: url("./GitHub/PUI/MuddyPaws/homeBackground.jpg");
    height: 600px;
}
h1 {
    color: #417505;
    font-family: "Century Gothic";
    margin-left: 30px;
    margin-right: 30px;
}
h2 {
    color: #8B572A;
    font-family: "Century Gothic";
}
h3 {
    color: #2C3D03;
    font-family: "PT Serif";
}
p {
    color: #2C3D03;
    font-family: "PT Serif";
}
about {
    width: 200px;
}
footer {
    background-color: #2C3D03;
    font-family: "Century Gothic";
    color: #B8E986;
}